body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.buttons{
    display: flex;
    align-items: center;
    justify-content: center;
}

img{
    width: 200px;
    height: 200px;

}